<div class="p-8 flex justify-center">
  <form
    #user="ngForm"
    (ngSubmit)="onSubmit(user)"
    class="flex flex-col gap-3 mt-15 bg-teal-600 rounded-lg px-20 pb-14 pt-14"
  >
    <span class="text-white">Username</span>
    <input
      ngModel
      type="text"
      name="username"
      class="1 border-solid rounded-md p-1 w-72"
    />
    <span class="text-white">Password</span>
    <input
      ngModel
      type="password"
      name="password"
      class="border-solid rounded-md p-1 w-72"
    />
    <button class="bg-white text-teal-600 rounded-lg border-none pt-1 pb-1 mt-1">Submit</button>
  </form>
</div>
